<%- include ('../partials/header') -%>
<%- include ('../partials/nav') -%>
    <body>
        <div class="login">
            <div class="divCenter">
                <h1>Ingrese su nueva contraseña</h1>
                <form >
                    <p>Contraseña:</p>
                    <input type="text" class="textFieds"  name="password">
                    <p>Confirmar Contarseña:</p>
                    <input type="text" class="textFieds"  name="password">
                    <input type="submit" value="Recuperar"  class="btn btn-danger btn-block">
                </form>
              </div>
        </div>

    </body>
    <%- include ('../partials/footer') -%>