<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" type="text/css" href="../../css/login.css">    
</head>
    <body>
        <div class="login">
            <div class="divCenter">
                <h1>Recuperar  Contraseña</h1>
                <form >
                    <p>Tipo Documento</p>
                    <select name="documentType" class="textFieds">
                        <option value="CC">C.C</option>
                        <option value="TI">T.I</option>
                        <option value="CE">C.E</option>
                        <option value="NIT">NIT</option>
                    </select>

                    <p>Documento</p>
                    <input type="text" class="textFieds"  name="document" placeholder="Documento">
                    <input type="submit" value="Recuperar" class="button">
                </form>
              </div>
        </div>

    </body>
</html>