<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	  <link href="../../css/styles.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/679194c6db.js" crossorigin="anonymous"></script>
    <title>Inicio Recepción</title>
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-lighter " style="background-color: #E60008;">
            <a class="navbar-brand" style="color: #FFF;" href="#">
                <button class="btn btn-outline-light" id="sidebarToggle">Menú</button>
            Nombre del restaurante  </a>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto"></ul>
			<form class="form-inline my-2 my-lg-0">			  
			  <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fa-solid fa-person-running"></i> Cerrar Sesión</button>
			</form>
		  </div>
		</nav>
		<div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                
                <div class="list-group list-group-flush">
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#A"><i class="fa-solid fa-bars"></i> Reservas</a>
                  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#B"><i class="fa-solid fa-id-card"></i> Perfil</a>

                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <div class="container-fluid"><br>
                  <form class="form-inline">
                    <div class="form-row">
                      <div class="col">
                        <h3>Buscar:</h3>
                      </div>
                      <div class="col">
                        <label>Tipo Documento:</label>
                      </div>
                      <div class="col">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                          <option selected>C.C</option>
                          <option value="1">C.E</option>
                          <option value="2">T.I</option>
                          <option value="3">NIT</option>
                        </select>
                      </div>
                      <div class="col">
                        <label> Documento:</label>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Documento">
                      </div>
                      <div class="col">
                        <button class="btn btn-danger"><i class="fa-solid fa-magnifying-glass"></i> Consultar</button>
                      </div>
                    </div>
                </form>
                  <br>
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Documento</th>
                            <th scope="col">Fecha Reserva</th>
                            <th scope="col">Hora Reserva</th>
                            <th scope="col">Cantidad personas</th>
                            <th scope="col">¿Mesa Lista?</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">123456789</th>
                            <td>31/12/2022</td>
                            <td>11:30</td>
                            <td>5</td>
                            <td><input type="checkbox"></td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <script src="../../js/scripts.js"></script>
    </body>
</html>