<%- include ('../partials/header') -%>
<%- include ('../partials/nav') -%>
	
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <div class="container-fluid"><br>
                  <form class="form-inline">
                    <div class="form-row">
                      <div class="col">
                        <h3>Buscar:</h3>
                      </div>
                      <div class="col">
                        <label>Tipo Documento:</label>
                      </div>
                      <div class="col">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                          <option selected>C.C</option>
                          <option value="1">C.E</option>
                          <option value="2">T.I</option>
                          <option value="3">NIT</option>
                        </select>
                      </div>
                      <div class="col">
                        <label> Documento:</label>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Documento">
                      </div>
                    </div>
                </form>
                  <br>
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Documento</th>
                            <th scope="col">Fecha Reserva</th>
                            <th scope="col">Hora Reserva</th>
                            <th scope="col">Cantidad personas</th>
                            <th scope="col">¿Mesa Lista?</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">123456789</th>
                            <td>31/12/2022</td>
                            <td>11:30</td>
                            <td>5</td>
                            <td><input type="checkbox"></td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <%- include ('../partials/footer') -%>