<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/login.css">    
</head>
    <body>
        <div class="login">
            <div class="divCenter">
                <h1>Bienvenido</h1>
                <form >
                    <p>Tipo Documento</p>
                    <select name="documentType" class="textFieds">
                        <option value="CC">C.C</option>
                        <option value="TI">T.I</option>
                        <option value="CE">C.E</option>
                        <option value="NIT">NIT</option>
                    </select>
                

                    <p>Documento</p>
                    <input type="text" class="textFieds"  name="document" placeholder="Documento">
                
                    <p>Contraseña</p>
                    <input type="password" class="textFieds" name="password">              
                    
                    <input type="submit" value="Ingresar" class="button">
                </form>
              </div>
        </div>

    </body>
</html>