<%- include ('./partials/header') -%>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/login.css">    
</head>
    <body class="bg-image">
        <div class="login">
            <div class="divCenter">
                <h1>Bienvenido</h1>
                <form >
                    <p>Tipo Documento</p>
                    <select name="documentType" class="textFieds">
                        <option value="CC">C.C</option>
                        <option value="TI">T.I</option>
                        <option value="CE">C.E</option>
                        <option value="NIT">NIT</option>
                    </select>
                

                    <p>Documento</p>
                    <input type="text" class="textFieds"  name="document" placeholder="Documento">
                
                    <p>Contraseña</p>
                    <input type="password" class="textFieds" name="password">              
                    
                    <a href="/users" class="btn btn-danger btn-block">
                        Ingresar
                    </a>
                    <a href="/password/reset" class="btn btn-danger btn-block">
                        Cambiar contraseña
                    </a>
                </form>
              </div>
        </div>
<%- include ('./partials/footer') -%>