<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restauran Reservation</title>
    <!-- Boostrap 4 -->
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <link href="/styles.css" rel="stylesheet" />
    <!-- CSS Login -->
    <link rel="stylesheet" href="/login.css">
    <!-- Fontawesome  -->
    <script src="https://kit.fontawesome.com/a2ca4bf742.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-image">

