<nav class="navbar navbar-expand-lg navbar-lighter " style="background-color: #E60008;">
  <a class="navbar-brand" style="color: #FFF;" href="#">
      <button class="btn btn-outline-light" id="sidebarToggle">Menú</button>
  Nombre del restaurante  </a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto"></ul>
<form class="form-inline my-2 my-lg-0">			  
<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Cerrar Sesión</button>
</form>
</div>
</nav>
<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
      
      <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#A">Reservas</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#B">Perfil</a>

      </div>
  </div>