<%- include ('../partials/header') -%>
    <div class="container p-4">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Nueva Reservación</h3>
                </div>
                <div class="card-body">
                    <form action="/reservation/new" method="post">
                        <div class="form-group">
                            <label for="" class="form-label">Nombre del Cliente</label>
                            <input type="text" class="form-control" placeholder="Esperanza Rojas" name="nombre">                           
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Numero de identificación</label>
                            <input type="text" class="form-control" placeholder="49344236"name="docuemnto">
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Numero de personas</label>
                            <input type="number" class="form-control" placeholder="15"name="cantPersonas">
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Fecha de la reservación</label>
                            <input type="date" class="form-control" placeholder="" name="fecha">
                            <br>
                            <input type="time" class="form-control" placeholder="" name = "hora">
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Guardar</button>
                            <a href="/reservation" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../partials/footer') -%>