<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Restaurante</title>
    <link href="../../css/styles.css"  rel="stylesheet" />
  </head>
  <body class="main">
    <nav class="navbar navbar-expand-lg navbar-lighter " style="background-color: #E60008;">
      <div class="container-fluid">
        <a   style="color: #FFF;" class="navbar-brand">Restauran Reservation</a>
        
       
      </div>
    </nav>

    <div class="container p-4">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Registrar Restaurante</h3>
                </div>
                <div class="card-body">
                    <form action="/reservacion" method="post">
                        <div class="form-group">
                            <label for="" class="form-label">Nombre del Restaurante</label>
                            <input type="text" class="form-control" placeholder="KFC">                           
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Telefono</label>
                            <input type="text" class="form-control" placeholder="7783484">
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Dirección</label>
                            <input type="text" class="form-control" placeholder="Centro comercial">
                        </div>                       
                        <br>
                        <div class="form-group">
                          <button class="btn btn-danger">Crear</button>
                          <a href="/reservaciones" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
