<%- include ("../partials/header.ejs") -%>

    <div class="container p-4">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Registrar Restaurante</h3>
                </div>
                <div class="card-body">
                    <form action="/restaurants/new" method="post">
                        <div class="form-group">
                            <label for="" class="form-label">Nombre del Restaurante</label>
                            <input type="text" class="form-control" placeholder="KFC" name="nombreRestaurante">                           
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Telefono</label>
                            <input type="text" class="form-control" placeholder="7783484" name="telefono">
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Dirección</label>
                            <input type="text" class="form-control" placeholder="Centro comercial" name="direccion">
                        </div>                             
                        <div class="form-group">
                            <label for="" class="form-label" >Departamento</label>
                            <select class="form-control" name="departamento">
                                
                                <option value="Amazonas">Amazonas</option>
                                <option value="Antioquia">Antioquia</option>
                                <option value="Arauca">Arauca</option>
                                <option value="Atlantico">Atlantico</option>
                                <option value="Bogota">Bogota</option>
                                <option value="Bolivar">Bolivar</option>
                                <option value="Boyaca">Boyaca</option>
                                <option value="Caldas">Caldas</option>
                                <option value="Caqueta">Caqueta</option>
                                <option value="Casanare">Casanare</option>
                                <option value="Cauca">Cauca</option>
                                <option value="Cesar">Cesar</option>
                                <option value="Choco">Choco</option>
                                <option value="Cordoba">Cordoba</option>
                                <option value="Cundinamarca">Cundinamarca</option>
                                <option value="Guainia">Guainia</option>
                                <option value="Guaviare">Guaviare</option>
                                <option value="Huila">Huila</option>
                                <option value="La" guajira="">La Guajira</option>
                                <option value="Magdalena">Magdalena</option>
                                <option value="Meta">Meta</option>
                                <option value="Narino">Narino</option>
                                <option value="Norte de santander">Norte de Santander</option>
                                <option value="Putumayo">Putumayo</option>
                                <option value="Quindio">Quindio</option>
                                <option value="Risaralda">Risaralda</option>
                                <option value="San andres y providencia">San Andres y Providencia</option>
                                <option value="Santander">Santander</option>
                                <option value="Sucre">Sucre</option>
                                <option value="Tolima">Tolima</option>
                                <option value="Valle del cauca">Valle del Cauca</option>
                                <option value="Vaupes">Vaupes</option>
                                <option value="Vichada">Vichada</option>
                            </select>      
                          </div>                 
                        <br>
                        <div class="form-group">
                          <button class="btn btn-danger">Crear</button>
                          <a href="/restaurants" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   

    <%- include ("../partials/footer.ejs") -%>
