<%- include ('../partials/header') -%>

<nav
  class="navbar navbar-expand-lg navbar-lighter"
  style="background-color: #e60008"
>
  <div class="container-fluid">
    <a style="color: #fff" class="navbar-brand">Restauran Reservation</a>
  </div>
</nav>

<div class="container p-4">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <h3>Registrar Usuario</h3>
      </div>
      <div class="card-body">
        <form action="/reservacion" method="post">
          <div class="form-group">
            <label for="" class="form-label">Tipo Documento</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>C.C</option>
              <option>T.I</option>
              <option>C.E</option>
              <option>NIT</option>
            </select>
          </div>
          <div class="form-group">
            <label for="" class="form-label">Numero de documento</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="" class="form-label">Nombres</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="" class="form-label">Apellidos</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="" class="form-label">Correo</label>
            <input
              type="text"
              class="form-control"
              placeholder="correo@extencion.com"
            />
          </div>
          <div class="form-group">
            <label for="" class="form-label">Celular</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="" class="form-label">Roll</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Mesero</option>
              <option>Admin</option>
              <option>Cliente</option>
              <option>Recepcionista</option>
            </select>
          </div>
          <div class="form-group">
            <label for="" class="form-label">Estado</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Pendiente cambio de clave</option>
              <option>Activo</option>
              <option>Inactivo</option>
            </select>
          </div>
          <div class="form-group">
            <label for="" class="form-label">Contraseña</label>
            <input type="text" class="form-control" />
          </div>
          <br />
          <div class="form-group">
            <button class="btn btn-danger">Crear</button>
            <a href="/reservaciones" class="btn btn-secondary">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include ('../partials/footer') -%>
